---
import Layout from "@layouts/Layout.astro";
import css from "./IndexView.module.css";
import Paged from "@components/Paged/Paged.astro";
import type { Page } from "astro";
import type { PokemonsResResult } from "../../api_pokemons/types/pokemons_res";
import Pokemon from "@components/Pokemon/Pokemon.astro";
import { INDEX_VIEW } from "./config";

interface Props {
  page: Page<PokemonsResResult>;
}

const { page } = Astro.props;
---

<Layout title={INDEX_VIEW.display}>
  <main class={css.index}>
    <h1 class={css.title}>Pokemons</h1>
    <section class={css.pokemons} aria-label="Listado de pokemons">
      {page.data.map((item) => <Pokemon name={item.name} url={item.url} />)}
    </section>
    <Paged prev={page.url.prev} current_page={page.currentPage} next={page.url.next} />
  </main>
</Layout>
