---
import { get_pokemon_img } from "@api_pokemons/utils/get_pokemon_img";
import css from "./Pokemon.module.css";

interface Props {
  url: string;
  name: string;
  cls?: string;
}

const { url, name, cls } = Astro.props;

const pokemon_img_url = get_pokemon_img(url);
---

<a class:list={[css.pokemon, cls]} href={`http://localhost:4321/${name}`}>
  <h2>{name}</h2>
  <img src={pokemon_img_url} alt={name} transition:name=`${name}` />
</a>
