---
import { extract_pokemon_info } from "@utils/extract_pokemon_info";
import css from "./Pokemon.module.css";

interface Props {
  url: string;
  name: string;
  cls: string;
}

const { url, name, cls } = Astro.props;

const { pokemon_img_url } = extract_pokemon_info(url);
---

<a class:list={[css.pokemon, cls]} href={`http://localhost:4321/${name}`}>
  <h2>{name}</h2>
  <img src={pokemon_img_url} alt={name} transition:name=`${name}` />
</a>
