---
import css from "./PokemonView.module.css";
import Pokemon from "@components/Pokemon/Pokemon.astro";
import Layout from "@layouts/Layout.astro";
import { extract_pokemon_info } from "@utils/extract_pokemon_info";

interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;

const { pokemon_song_url } = extract_pokemon_info(url);
---

<Layout title={name}>
  <main class={css.pokemon_view}>
    <div class={css.card}>
      <Pokemon cls={css.pokemon} name={name} url={url} />
      <audio src={pokemon_song_url} controls></audio>
      <a href="/">regresar</a>
    </div>
  </main>
</Layout>
