---
import Paged from "@components/Paged.astro";
import PokemonList from "@components/PokemonList.astro";
import { ACCOUNT_POKEMONS } from "@consts/accountPokemons";
import Layout from "@layouts/Layout.astro";
import { getPokemons } from "@services/getPokemons";
import type { GetStaticPaths } from "astro";
import { ROUTER } from "./router";

export const getStaticPaths = (async ({ paginate }) => {
  const pokemons = (await getPokemons(ACCOUNT_POKEMONS)).results;

  return paginate(pokemons, { pageSize: 27 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={ROUTER.index.display}>
  <main class="grid gap-2 max-w-[1920px]">
    <PokemonList pokemons={page.data} />
    <Paged
      class="mx-auto"
      currentPage={page.currentPage}
      prev={page.url.prev}
      next={page.url.next}
    />
  </main>
</Layout>
