---
import PokemonCard from "@components/PokemonCard.astro";
import { ACCOUNT_POKEMONS } from "@consts/accountPokemons";
import Layout from "@layouts/Layout.astro";
import { getPokemonAudio } from "@services/getPokemonAudio";
import { getPokemonImg } from "@services/getPokemonImg";
import { getPokemons } from "@services/getPokemons";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const pokemons = (await getPokemons(ACCOUNT_POKEMONS)).results;

  return pokemons.map(({ name, url }) => ({
    params: { name },
    props: { img: getPokemonImg(url), audio: getPokemonAudio(url) },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { img, audio } = Astro.props;
---

<Layout title={name} img={img}>
  <main class="p-4 grid place-content-center gap-2">
    <button class="text-start text-blue-800" onclick="history.back()"
      >Volver</button
    >
    <PokemonCard class={"max-w-[450px] border-none"} title={name} img={img} />
    <audio controls class="justify-self-center">
      <source src={audio} type="audio/ogg" />
    </audio>
  </main>
</Layout>
