---
import "@styles/index.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  img_url?: string;
}

const { title, description = "Pokemons", img_url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- Fundamentales para el Navegador y SEO Básico -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="edard3v" />
    <!-- <link rel="canonical" href="" /> -->

    <!-- Open Graph (Para que se vea genial en WhatsApp, Facebook, LinkedIn) -->
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="" /> -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img_url} />

    <!-- Twitter Cards (Específico para Twitter/X) -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- <meta name="twitter:url" content="" /> -->
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={img_url} />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
